/* Start of Navbar CSS */
.navbar {
    padding: 0;
}
#mainNavbar .navbar-brand {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 50px;
    color: white;
    padding-bottom: 0;
}

#mainNavbar .nav-link {
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
    color: white;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
    font-size: 1.7rem;
}
/* End of Navbar CSS */

/* End of Carousel CSS */
#carouselExampleIndicators .carousel-inner .carousel-item{
    position: relative;
    height: 100vh;
    width: 100%;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(1){
    background: url(imgs/darkened-storefront1.png);
    background-size: cover;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
    background: url(imgs/darkened-storefront2.jpg);
    background-size: cover;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
    background: url(imgs/darkened-storefront1.png);
    background-size: cover;
    background-position: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item h2{
    color: white;
    margin: 0;
    width: 50%;
    text-align: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item p{
    color: white;
    margin: 0;
    width: 50%;
}

/* End of Carousel CSS */
